.swiper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  padding: 0 24px;
}

.swiper-wrapper {
  height: 100%;
  max-height: 100%;
  flex-shrink: 1;
}

.swiper-slide {
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-slide::-webkit-scrollbar {
  display: none;
}

.swiper-card {
  margin: 16px 8px 48px;
}

.swiper-pagination {
  --swiper-theme-color: #42A5F5;
  bottom: 0 !important;
  padding: 16px 0 8px;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
}
